/*

Add styles or override variables from the theme here.

*/

$border-radius: 1px;

.md-expand {
    label {
        margin-bottom: 0px;
        width: 100%;
    }

    --md-bg-color-dark: #555555;
    --md-bg-color-light: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
  
    border: 1px solid var(--md-bg-color-dark);
    border-radius: $border-radius;
    background: var(--md-bg-color-light);

    .hidden {
        display: none;
    }
  
    .md-expand-head {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  
    .md-expand-content {
      display: grid;
      grid-template-columns: auto 2em;
      min-height: 0; // Work around
      min-width: 0; // Work around
  
      padding: 1rem;
      padding-top: 0rem;
      padding-right: 0;
    }
  
    .md-content {
      grid-column: 1;
      min-height: 0; // Work around
      min-width: 0; // Work around
  
      padding-right: 0;

      p {
        margin-bottom: 0px;
      }

      table {
        margin-bottom: 0px;
      }
    }
  
    .md-collapse {
      position: -webkit-sticky;
      position: sticky;
  
      grid-column: 2;
      align-self: end;
  
      bottom: 3rem;
  
      width: 2em;
  
      cursor: pointer;
  
      &:hover {
        color: var(--primary-color);
      }
    }
  
    .md-footer {
      background: var(--md-bg-color-light);
      padding: 0.5rem 1rem;
    }
  
    input[type="checkbox"]:not(:checked)+.md-expand-content {
      visibility: hidden;
      max-height: 0;
      padding: 0;
    }
  
    input[type="checkbox"]:not(:checked)~.md-footer {
      visibility: hidden;
      padding: 0;
    }
  }